<article class="crd">
    <div class="crd__inside">
        {{#if image}}
            <figure class="crd__featured-img">
                <a href="{{url}}">
                    <img src="{{image}}" alt="{{title}}" />
                </a>
            </figure>
        {{/if}}

        <header class="crd__header">
            <h3 class="crd__title">
                <a href="{{url}}">{{title}}</a>
            </h3>
        </header>

        <section class="crd__excerpt">
            <p>
                {{excerpt words="20"}}
            </p>
        </section>

        <footer class="crd__meta">
            <time class="crd__post-date" datetime="{{date format="YYYY-MM-DD"}}">
                {{date format="DD MMMM YYYY"}}
            </time>

            <div class="crd__tags-toggler button">
                <i class="fa fa-tags" aria-hidden="true"></i> tags

                <div class="crd__tags">
                    {{#foreach tags limit="20"}}
                        <a href="{{url}}">#{{name}}</a>
                    {{/foreach}}
                </div>
            </div>
        </footer>
    </div>
</article>
