<!-- this is the post loop - each post will be output using this markup -->

<main class="cont" role="main">
    {{#is "home"}}

        {{#get "posts" limit="4" filter="tags:css" }}
            {{> "posts-css"}}
        {{/get}}

        {{#get "posts" limit="4" filter="tags:markdown" }}
            {{> "posts-down"}}
        {{/get}}

        {{#get "posts" limit="4" filter="tags:content" }}
            {{> "posts-content"}}
        {{/get}}

        {{else}}

            {{#foreach posts}}
                <article class="crd">
                    <div class="crd__inside">
                        {{#if image}}
                            <figure class="crd__featured-img">
                                <a href="{{url}}">
                                    <img src="{{image}}" alt="{{title}}" />
                                </a>
                            </figure>
                        {{/if}}

                        <header class="crd__header">
                            <h3 class="crd__title">
                            <a href="{{url}}">{{title}}</a>
                        </h3>
                        </header>

                        <section class="crd__excerpt">
                            <p>
                                {{excerpt words="20"}}
                            </p>
                        </section>

                        <footer class="crd__meta">
                            <time class="crd__post-date button" datetime="{{date format="YYYY-MM-DD"}}">
                                {{date format="DD MMM YYYY"}}
                            </time>

                            <a class="crd__read-more button" href="{{url}}">
                                <i class="fa fa-file-text" aria-hidden="true"></i> Read more...
                            </a>
                        </footer>
                    </div>
                </article>
            {{/foreach}}
    {{/is}}

    <!-- Previous/next page links - displayed on every page -->
    {{pagination}}

</main>
