<!-- this is the post loop - each post will be output using this markup -->

<main class="cont" role="main">

    {{#get "posts" limit="4" filter="tags:css" }}
        {{> "posts-css"}}
    {{/get}}

    {{#get "posts" limit="4" filter="tags:markdown" }}
        {{> "posts-down"}}
    {{/get}}

    {{#get "posts" limit="4" filter="tags:content" }}
        {{> "posts-content"}}
    {{/get}}

    <!-- Previous/next page links - displayed on every page -->
    {{pagination}}

</main>
