<header class="cat">
    <h2 class="cat__header-title">In category: css</h2>
    <a href="/tag/css" class="cat__header-link">everything</a>
</header>

{{#foreach posts}}
        <article class="crd">
            <div class="crd__inside">
                {{#if image}}
                    <figure class="crd__featured-img">
                        <a href="{{url}}">
                            <img src="{{image}}" alt="{{title}}" />
                        </a>
                    </figure>
                {{/if}}

                <header class="crd__header">
                    <h3 class="crd__title">
                        <a href="{{url}}">{{title}}</a>
                    </h3>
                </header>

                <section class="crd__excerpt">
                    <p>
                        {{excerpt words="20"}}
                    </p>
                </section>

                <footer class="crd__meta">
                    <time class="crd__post-date button" datetime="{{date format="YYYY-MM-DD"}}">
                        {{date format="DD MMM YYYY"}}
                    </time>

                    <a class="crd__read-more button" href="{{url}}">
                        <i class="fa fa-file-text" aria-hidden="true"></i> Read more...
                    </a>
                </footer>
            </div>
        </article>
{{/foreach}}
