{{!-- The blog sidebar header --}}


<aside class="sb">

    <section class="sb__container">

        <header class="sb__header">
            <div class="sb__cover" style="background-image: url({{@blog.cover}})">
                <div class="sb__avatar">
                    <div class="sb__blog-name">

                        <figure>
                            <img class="sb__avatar-image" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                        </figure>

                        <h1>{{@blog.title}}</h1>

                        <div class="sb__hamb">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="sb__mobile">

            {{!-- The blog information --}}
            <div class="sb__info sb_margin">
                <p>
                    {{@blog.description}}
                </p>
            </div>

            {{!-- The blog navigation links --}}
            {{navigation}}

            <div class="sb__tags sb_margin">
                {{#foreach posts}}
                    {{#foreach tags limit="2"}}
                        <a href="{{url}}">#{{name}}</a>
                    {{/foreach}}
                {{/foreach}}
                <a href="#">more...</a>
            </div>
        </section>

    </section>

</aside>
