{{!< default}}

{{!-- sidebar (avatar, info, links) --}}
{{> "sidebar"}}

<!-- Everything inside the #post tags pulls data from the post -->
<main class="cont" role="main">

    <article class="post">

        {{#post}}

            {{#if image}}
                <figure class="post__featured-img">
                    <img src="{{image}}" alt="{{title}}" />
                </figure>
            {{/if}}

            <article class="{{poast_class}}">
                <div class="post__date">
                    <div class="line"></div>
                    <div class="post__date-data">
                        {{date format="MMMM DD, YYYY"}}
                    </div>
                    <div class="line"></div>
                </div>
                <header class="">
                    <h2 class="post__title">{{title}}</h2>
                </header>
                <section class="post__share">
                    <a class="post__share-button share-tw button" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <span>Share on </span>Twitter
                        </a>
                    <a class="post__share-button share-fb button" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                            <span>Share on </span>Facebook
                        </a>
                    <a class="post__share-button share-gp button" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                            <span>Share on </span>Google+
                        </a>
                </section>
                <section>
                    <p class="post__meta">
                        by {{author}} on

                        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">
                            {{date format="MMMM DD, YYYY"}}
                        </time>
                    </p>
                </section>
                <section class="post-content">
                    {{content}}
                </section>
                <footer class="post__footer">
                    <div class="post__author">
                        {{#author}}
                            {{#if image}}
                            <div class="post__author-image-container">
                                <div class="line"></div>
                                <figure class="post__author-image">
                                    <a class="img" href="{{url}}">
                                        <img class="" src="{{image}}" alt="{{author}}" />
                                        <span class="offscreen">{{name}}'s Picture'</span>
                                    </a>
                                </figure>
                                <div class="line"></div>
                            </div>
                            {{else}}
                                <div class="line"></div>
                            {{/if}}
                            <div class="post__footer_author">
                                <a href="{{url}}">{{name}}</a>
                            </div>
                            {{#if twitter}}
                                <div class="author-twitter">
                                    <a href="{{twitter_url}}">{{twitter}}</a>
                                </div>
                            {{/if}}
                        {{/author}}
                    </div>
                    {{#if tags}}
                        <div class="post__tags">
                            {{#foreach tags}}
                                <a href="{{url}}" title="{{name}}" class="tag-{{id}}">
                                    {{name}}
                                </a>
                            {{/foreach}}
                        </div>
                    {{/if}}
                    <div class="line"></div>
                </footer>
                <section>
                    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="1"
                    data-width="100%"></div>
                </section>
            </article>

        {{/post}}
    </article>
</main>
