
$color__text_brand-1: #888;
$color__text_brand-2: #666;
$color__text_brand-3: #333;
$color__text_brand-4: #999;

$color__button-thertiary: #ADADAD;
$color__button-thertiary_border: #C5C5C5;

$color__dash-line: #AAA;
