
$color__text_brand-1: #888;
$color__text_brand-2: #666;
$color__text_brand-3: #333;
$color__text_brand-4: #999;

$color__text_link: #878a36;

$color__button-thertiary: #ADADAD;
$color__button-thertiary_border: #C5C5C5;

$color__dash-line: #AAA;

$color__facebook: #3b5998;
$color__twitter: #55acee;
$color__googleplus: #dd4b39;

$post__color_background: #fff;
$post__color_text: $color__text_brand-2;
