/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
}

p {
  color: #666;
  font-weight: normal;
  line-height: 2.5;
}

li {
  color: #666;
}

blockquote {
  font-size: 120%;
  border-left: 10px solid #ebedd9;
  padding-left: 20px;
  margin: 40px 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

pre {
  overflow: scroll;
}

code {
  overflow: auto;
}

/* Text meant only for screen readers. */
.offscreen {
  clip: rect(1px 1px 1px 1px);
  /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.offscreen:focus {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #666;
  display: block;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.site-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  overflow: hidden;
  background: url(../images/bg_pattern.jpg);
}

@media (max-width: 46.24em) {
  .site-wrapper {
    -ms-flex-flow: column;
        flex-flow: column;
    height: auto;
  }
}

.sb {
  background-color: rgba(238, 239, 212, 0.2);
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 360px;
          flex: 0 360px;
}

@media (max-width: 46.24em) {
  .sb {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.sb__container {
  overflow: auto;
}

.sb__header {
  border-bottom: 10px solid #ebedd9;
  margin-bottom: 50px;
}

@media (max-width: 46.24em) {
  .sb__header {
    margin-bottom: 0;
  }
}

.sb__cover {
  max-height: 360px;
  padding-top: 120px;
}

@media (max-width: 46.24em) {
  .sb__cover {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.sb__avatar-image, .post__author-image {
  margin-right: 20px;
  border-radius: 50%;
  border: 5px solid #e3e3e3;
  max-width: 105px;
  overflow: hidden;
}

@media (max-width: 46.24em) {
  .sb__avatar-image, .post__author-image {
    margin-right: 10px;
    border: 3px solid #e3e3e3;
    max-width: 65px;
  }
}

.sb__blog-name {
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding: 16px 20px 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sb__blog-name h1 {
  margin: 0;
  height: 25px;
  line-height: 1;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

.sb__blog-name i {
  margin-left: auto;
  font-size: 150%;
}

.sb__blog-name figure {
  margin-top: -48px;
}

@media (max-width: 46.24em) {
  .sb__blog-name figure {
    margin-top: -23px;
  }
}

.sb__mobile {
  display: block;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

@media (max-width: 46.24em) {
  .sb__mobile {
    display: none;
    padding-top: 70px;
  }
}

.sb__mobile-close {
  display: none;
}

@media (max-width: 46.24em) {
  .sb__mobile {
    background: rgba(0, 0, 0, 0.95);
    height: 100%;
    top: 0;
    overflow: auto;
    position: fixed;
    z-index: 9999;
    color: #999;
  }
  .sb__mobile-close {
    display: block;
    text-align: right;
    font-size: 250%;
  }
  .sb__mobile-close i {
    -webkit-transition: -webkit-transform .264s;
    transition: -webkit-transform .264s;
    transition: transform .264s;
    transition: transform .264s, -webkit-transform .264s;
    color: #fff;
  }
  .sb__mobile-close i:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.sb__info {
  border-bottom: 1px dotted #AAA;
  padding-bottom: 30px;
  clear: both;
  font-size: 18px;
  color: #666;
}

@media (max-width: 46.24em) {
  .sb__info {
    color: #999;
  }
}

.sb__info p {
  line-height: 1.8;
}

.sb__nav {
  list-style: none;
  font-weight: bold;
  padding: 0;
}

.sb__nav a {
  display: block;
  padding: 10px 0 10px 50px;
  color: #666;
}

@media (max-width: 46.24em) {
  .sb__nav a {
    padding: 10px 0;
    color: #FFF;
    text-align: center;
  }
}

.sb__nav a:hover {
  background: rgba(199, 200, 165, 0.2);
}

.sb__nav a::before {
  content: '\f015';
  display: inline-block;
  width: 20px;
  font-family: FontAwesome;
  padding-right: 1px;
}

.sb__nav a[href*="facebook.com"]::before {
  content: '\f09a';
}

.sb__nav a[href*="twitter.com"]::before {
  content: '\f099';
}

.sb__nav a[href*="dribbble.com"]::before {
  content: '\f17d';
}

.sb__nav a[href*="googleplus.com"]::before {
  content: '\f0d5';
}

.sb__nav a[href*="pinterest.com"]::before {
  content: '\f0d2';
}

.sb__nav a[href*="github.com"]::before {
  content: '\f09b';
}

.sb__nav a[href*="tumblr.com"]::before {
  content: '\f173';
}

.sb__nav a[href*="youtube.com"]::before {
  content: '\f167';
}

.sb__nav a[href*="flickr.com"]::before {
  content: '\f16e';
}

.sb__nav a[href*="vimeo.com"]::before {
  content: '\f194';
}

.sb__nav a[href*="instagram.com"]::before {
  content: '\f16d';
}

.sb__nav a[href*="linkedin.com"]::before {
  content: '\f0e1';
}

.sb__tags {
  border-top: 1px dotted #AAA;
  padding-top: 40px;
  font-size: 80%;
  line-height: 2.5;
}

.sb__tags a {
  color: #999;
  padding-right: 5px;
}

.sb__tags a:hover {
  color: #666;
}

.sb_margin {
  margin: 30px;
}

.sb__hamb {
  position: relative;
  z-index: 99999;
  margin-left: auto;
  width: 20px;
  height: 25px;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

@media (min-width: 46.25em) {
  .sb__hamb {
    display: none;
  }
}

.sb__hamb span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  opacity: 1;
  background-color: white;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.sb__hamb span:nth-child(1) {
  top: 4px;
}

.sb__hamb span:nth-child(2) {
  top: 11px;
}

.sb__hamb span:nth-child(4) {
  top: 11px;
}

.sb__hamb span:nth-child(3) {
  top: 18px;
}

.sb__hamb.open span:nth-child(1) {
  width: 0px;
  opacity: 0;
  top: 11px;
}

.sb__hamb.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sb__hamb.open span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sb__hamb.open span:nth-child(3) {
  width: 0px;
  opacity: 0;
  top: 11px;
}

.cont {
  padding: 30px 15px 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.cont-post {
  background-color: white;
}

.cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 30px;
  box-sizing: border-box;
  background: rgba(199, 200, 165, 0.2);
  border-radius: 5px;
  position: relative;
}

.cat__header-title {
  font-weight: bold;
  color: #666;
}

.cat__header-link {
  font-weight: normal;
  float: right;
  text-transform: uppercase;
  position: absolute;
  right: 30px;
  top: 20px;
}

.crd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
}

@media (max-width: 1860px) {
  .crd {
    width: 33.3333333333%;
  }
}

@media (max-width: 1590px) {
  .crd {
    width: 50%;
  }
}

@media (max-width: 1065px) {
  .crd {
    width: 100%;
  }
}

.crd__inside {
  width: 100%;
  height: 100%;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap column;
      flex-flow: nowrap column;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.crd__inside figure {
  overflow: hidden;
  height: 170px;
}

.crd__inside img {
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.crd__inside:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.crd__inside:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.crd__header {
  margin: 0 20px;
}

.crd__header a {
  color: #666;
}

.crd__excerpt {
  margin: 0 20px 20px;
  min-height: 110px;
  font-size: 90%;
}

.crd__excerpt p {
  line-height: 2;
}

.crd__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 20px 20px;
}

.crd__post-date {
  font-size: 90%;
  line-height: 1.3;
  color: #ADADAD;
}

.crd__tags-toggler, .crd__read-more {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 90%;
  font-weight: bold;
  border-color: #C5C5C5;
  color: #ADADAD;
}

.crd__tags-toggler.active, .active.crd__read-more {
  color: #FFF;
  background-color: #ADADAD;
}

.crd__read-more {
  color: #ADADAD;
}

.crd__read-more:hover {
  color: #FFF;
  background: #ADADAD;
}

.crd__tags {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 45px;
  right: 0;
  width: 300%;
  padding: 10px 15px;
  line-height: 1.5;
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #C5C5C5;
}

.crd__tags a {
  font-weight: lighter;
  padding-right: 5px;
  color: #666;
}

.crd__tags a:hover {
  color: #333;
}

.crd__tags::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #FFF;
  position: absolute;
  right: 10px;
  top: -6px;
  border-left: 1px solid #C5C5C5;
  border-top: 1px solid #C5C5C5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.show-tags {
  display: block;
}

.pg {
  margin-top: 30px;
  padding: 30px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-top: 1px solid #ebedd9;
}

.pg__prev, .pg__next {
  color: #fff;
  background-color: #666;
  margin-right: auto;
}

.pg__prev:hover, .pg__next:hover {
  color: #fff;
  background-color: #333;
}

.pg__next {
  margin-left: auto;
  margin-right: 0;
}

.post {
  max-width: 720px;
  margin: 0 auto 30px;
  padding: 30px;
  background-color: #fff;
}

.post__featured-img {
  max-height: 360px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  color: #444;
}

.post__title {
  font-size: 330%;
  color: #444;
  margin: 0;
  border-bottom: 1px dotted #aaa;
  padding-bottom: 30px;
}

.post__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.post__share-button {
  font-weight: bold;
  margin-right: 10px;
  font-size: 80%;
}

.post__share-button.share-tw {
  color: #55acee;
}

.post__share-button.share-tw:hover {
  color: #FFF;
  background-color: #55acee;
}

.post__share-button.share-fb {
  color: #3b5998;
}

.post__share-button.share-fb:hover {
  color: #FFF;
  background-color: #3b5998;
}

.post__share-button.share-gp {
  color: #dd4b39;
}

.post__share-button.share-gp:hover {
  color: #FFF;
  background-color: #dd4b39;
}

@media (max-width: 46.24em) {
  .post__share-button span {
    display: none;
  }
}

.post__meta {
  color: #999;
  font-size: 90%;
}

.post__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999;
  margin-bottom: 20px;
}

@media (max-width: 46.24em) {
  .post__date {
    font-size: 80%;
  }
}

.post__date-data {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

@media (max-width: 46.24em) {
  .post__date-data {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

.post .line {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
}

.post .line::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  border-top: 1px dotted #aaa;
  top: 50%;
}

@media (max-width: 46.24em) {
  .post .line {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.post__footer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  margin-bottom: 30px;
}

.post__author-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__author-image {
  position: relative;
  margin: 0 20px;
  max-width: 40px;
  border-width: 3px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post__footer_author {
  margin-bottom: 15px;
  font-weight: bold;
}

.post__tags {
  margin-bottom: 20px;
  color: #878a36;
}

.post__tags a::after {
  content: "|";
  display: inline-block;
  color: #878a36;
}

.post__tags a:last-child::after {
  display: none;
}

.button {
  padding: 10px;
  line-height: 1;
  border: 1px;
  border-radius: 3px;
  border-style: solid;
  text-align: center;
}

.button:hover {
  border: 1px;
  border-radius: 3px;
  border-style: solid;
}

a {
  color: #878a36;
}

a:hover {
  color: #75782f;
}

/*# sourceMappingURL=screen.css.map */
