.button {
    padding: 10px;
    line-height: 1;
    border: 1px;
    border-radius: 3px;
    border-style: solid;
    text-align: center;

    &:hover {
        border: 1px;
        border-radius: 3px;
        border-style: solid;
    }
}
