.site-wrapper {
    height: 100%;
    display: flex;
    flex-flow: row;
    overflow: hidden;
    background: url(../images/bg_pattern.jpg);

    @include mq( $until: tablet ) {
        flex-flow: column;
        height: auto;
    }
}
