.cont {
  padding: 30px 15px 1px;
  flex: 1;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;

  &-post {
      background-color: white;
  }
}
.cat {
  display: flex;
  width: 100%;
  height: auto;
  padding:  0 30px;
  box-sizing: border-box;
  background: rgba( 199, 200, 165, .2 );
  border-radius: 5px;
  position: relative;

  &__header-title {
      font-weight: bold;
      color: $color__text_brand-2;
  }

  &__header-link {
      font-weight: normal;
      float: right;
      text-transform: uppercase;
      position: absolute;
      right: 30px;
      top: 20px;
  }

}
.crd {
  display: flex;
  width: 25%;
  height: auto;
  padding: 30px;
  box-sizing: border-box;

  @media ( max-width: 1860px ) {
      width: 33.3333333333%;
  }

  @media ( max-width: 1590px ) {
      width: 50%;
  }

  @media ( max-width: 1065px ) {
      width: 100%;
  }

  &__inside {
    width: 100%;
    height: 100%;
    background: #FFF;
    display: flex;
    flex-flow: nowrap column;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba( #000, .15 );
    transition: all .8s ease-out;

    figure {
        overflow: hidden;
        height: 170px;
    }

    img {
        transition: all .8s ease-out;
    }

    &:hover {
        box-shadow: 0 6px 8px rgba( #000, .3 );

        img { transform: scale( 1.1 ); }
    }
  }

  &__header {
      margin: 0 20px;

      a {
          color: $color__text_brand-2;
      }
  }

  &__excerpt {
      margin: 0 20px 20px;
      min-height: 110px;
      font-size: 90%;

      p {
      line-height: 2;
      }
  }

  &__meta {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin: 0 20px 20px;
  }

  &__post-date {
      font-size: 90%;
      line-height: 1.3;
      color: $color__button-thertiary;
  }

  &__tags-toggler {
      position: relative;
      display: block;
      cursor: pointer;
      font-size: 90%;
      font-weight: bold;
      border-color: $color__button-thertiary_border;
      color: $color__button-thertiary;

      &.active {
          color: #FFF;
          background-color: $color__button-thertiary;
      }
  }

  &__read-more {
      @extend .crd__tags-toggler;
      color: $color__button-thertiary;

      &:hover {
          color: #FFF;
          background: $color__button-thertiary;
      }
  }

  &__tags {
      display: none;
      position: absolute;
      z-index: 9999;
      top: 45px;
      right: 0;
      width: 300%;
      padding: 10px 15px;
      line-height: 1.5;
      background: #FFF;
      border-radius: 3px;
      border: 1px solid $color__button-thertiary_border;

      a {
          font-weight: lighter;
          padding-right: 5px;
          color: $color__text_brand-2;

          &:hover {
              color: $color__text_brand-3;
          }
      }

      &::before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background: #FFF;
          position: absolute;
          right: 10px;
          top: -6px;
          border-left: 1px solid $color__button-thertiary_border;
          border-top: 1px solid $color__button-thertiary_border;
          transform: rotate(45deg);
      }
  }
}


.show-tags {
    display: block;
}
