.sb {
    background-color: rgba( 238, 239, 212, .2 );
    padding: 0;
    flex: 0 360px;

    @include mq( $until: tablet ) {
        flex: 1;
    }

    &__container {
        overflow: auto;
    }
    &__header {
        border-bottom: 10px solid #ebedd9;
        margin-bottom: 50px;

        @include mq( $until: tablet ) {
            margin-bottom: 0;
        }
    }
    &__cover {
        max-height: 360px;
        padding-top: 120px;

        @include mq( $until: tablet ) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    &__avatar-image {
        margin-right: 20px;
        border-radius: 50%;
        border: 5px solid #e3e3e3;
        max-width: 105px;
        overflow: hidden;

        @include mq( $until: tablet ) {
            margin-right: 10px;
            border: 3px solid #e3e3e3;
            max-width: 65px;
        }
    }
    &__blog-name {
        background: rgba( 0, 0, 0, .8 );
        color: #FFF;
        padding: 16px 20px 20px;
        height: 20px;
        display: flex;
        justify-content: flex-start;
        h1 {
            margin: 0;
            height: 25px;
            line-height: 1;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 1px;
        }

        i {
            margin-left: auto;
            font-size: 150%;
        }
        figure {
            margin-top: -48px;

            @include mq( $until: tablet ) {
                margin-top: -23px;
            }
        }
    }

    &__mobile {

        display: block;
        transition: .25s ease-in-out;

        @include mq( $until: tablet ) {
            display: none;
            padding-top: 70px;
        }

        &-close {
            display: none;
        }

        @include mq( $until: tablet ) {
            background: rgba(0,0,0, .95);
            height: 100%;
            top: 0;
            overflow: auto;
            position: fixed;
            z-index: 9999;
            color: $color__text_brand-4;

            &-close {
                display: block;
                text-align: right;
                font-size: 250%;

                i {
                    transition: transform .264s;
                    color: #fff;
                    &:hover {
                    transform: rotate( 360deg );
                    }
                }
            }
        }

    }

    &__info {
        border-bottom: 1px dotted $color__dash-line;
        padding-bottom: 30px;
        clear: both;
        font-size: 18px;
        color: $color__text_brand-2;

        @include mq( $until: tablet ) {
            color: $color__text_brand-4;
        }

        p {
            line-height: 1.8;
        }
    }

    &__nav {
        list-style: none;
        font-weight: bold;
        padding: 0;

        a {
            display: block;
            padding: 10px 0 10px 50px;
            color: $color__text_brand-2;

            @include mq( $until: tablet ) {
                padding: 10px 0;
                color: #FFF;
                text-align: center;
            }
        }

        a:hover {
            background: rgba( 199, 200, 165, .2 );
        }

        a::before {
            content: '\f015';
            display: inline-block;
            width: 20px;
            font-family: FontAwesome;
            padding-right: 1px;
        }

        a[href*="facebook.com"]::before { content: '\f09a'; }

        a[href*="twitter.com"]::before { content: '\f099'; }

        a[href*="dribbble.com"]::before { content: '\f17d'; }

        a[href*="googleplus.com"]::before { content: '\f0d5'; }

        a[href*="pinterest.com"]::before { content: '\f0d2'; }

        a[href*="github.com"]::before { content: '\f09b'; }

        a[href*="tumblr.com"]::before { content: '\f173'; }

        a[href*="youtube.com"]::before { content: '\f167'; }

        a[href*="flickr.com"]::before { content: '\f16e'; }

        a[href*="vimeo.com"]::before { content: '\f194'; }

        a[href*="instagram.com"]::before { content: '\f16d'; }

        a[href*="linkedin.com"]::before { content: '\f0e1'; }
    }

    &__tags {
        border-top: 1px dotted $color__dash-line;
        padding-top: 40px;
        font-size: 80%;
        line-height: 2.5;

        a {
            color: $color__text_brand-4;
            padding-right: 5px;
        }

        a:hover {
            color: $color__text_brand-2;
        }
    }

    &_margin {
        margin: 30px;
    }

    &__hamb {
        position: relative;
        z-index: 99999;
        margin-left: auto;
        width: 20px;
        height: 25px;
        cursor: pointer;
        transition: .5s ease-in-out;

        @include mq( $from: tablet ) {
            display: none;
        }

        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            border-radius: 2px;
            opacity: 1;
            background-color: white;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 4px;
            }

            &:nth-child(2) {
                top: 11px;
            }

            &:nth-child(4) {
                top: 11px;
            }

            &:nth-child(3) {
                top: 18px;
            }
        }


        &.open {

            span:nth-child(1) {
                width: 0px;
                opacity: 0;
                top: 11px
            }

            span:nth-child(2) {
                transform: rotate(45deg);
            }

            span:nth-child(4) {
                transform: rotate(-45deg);
            }

            span:nth-child(3) {
                width: 0px;
                opacity: 0;
                top: 11px
            }
        }
    }
}
